# Make a copy of this file, name that copy '.env' and replace the follow variables with your own canvas token and canvas url.
# The url will be different for each school, so be sure it is correct for your institution.
#
CANVAS_TOKEN=YOUR_TOKEN_HERE
CANVAS_URL=YOUR_CANVAS_URL_HERE
